.chat-home-container {
  background-color: rgb(151, 145, 145);
  min-height: 100vh;
  display: flex;
  justify-content: flex-end;
}
.responsive-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: flex-end;
}
.header {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px;
}
.group-text {
  color: black;
  font-family: sans-serif;
}
.line {
  width: 100%;
}
.members-text {
  color: black;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.mem-list {
  color: black;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.input-container {
  width: 100%;
  height: 10vh;
  background-color: #ffffff;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.emoji {
  background-color: transparent;
  border-width: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.send-btn {
  background-color: transparent;
  border-width: 0px;
  cursor: pointer;
}
.chat-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 20px;
}
.mention-inputs {
  list-style-type: none;
  font-weight: bold;
  margin: 20px;
}
